/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 255, 0, 0.062);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007e58;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0F6;
}
